.main-info {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.info__sector {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.info__sector-textW {
    font-size: 17px;
    line-height: 70px;
    color: #696871;
}

.info__sector-text {
    font-size: 18px;
    color: #696871;
    line-height: 30px;
}

.info__sector-title {
    font-size: 50px;
    line-height: 70px;
    padding: 10px;
    color: #1D293F;
}

.info__sector-button {
    margin-top: 50px;
    padding: 20px 50px;
    font-size: 17px;
    color: #5454D4;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

.info-card {
    text-decoration: none;
    width: 350px;
    height: 450px;
    background-color: #F8F8F8;
}

.info-card:hover {
    background: #FF7143;
    border-radius: 10px;
    color: aliceblue;
    transition: 1s;
    width: 400px;
    height: 500px;
}

.info__sector-button:hover {
    background: #9F3919;
    color: aliceblue;
}

@media screen and (max-width: 800px) {
    .main-info {
        flex-direction: column;
        padding: 100px;
    }
}