.info__textW {
    font-size: 20px;
    line-height: 70px;
}
.info__text {
    font-size: 20px;
    line-height: 30px;
}
.info__title {
    font-size: 40px;
    line-height: 70px;
    padding: 10px;
}

.info___button{
    margin-top: 50px;
    padding: 20px 50px;
    font-size: 17px;
    color: #5454D4;
    border-radius: 10px;
    border: none;
    cursor: pointer
}

.info-card{
    text-decoration: none;
    width: 350px;
    height: 450px;
}

.info-card:hover{
    background: #FF7143;
    border-radius: 10px;
    color: aliceblue;
    transition: 1s;
    width: 400px;
    height: 500px;
}
.info___button:hover{
    background: #9F3919;
    color: aliceblue;

}